In [1]:
fruits = ["jabłko", "banan", "malina"] 

person = {"name": "Ala", "age": 22} 

numbers = {1, 2, 3, 3}

In [2]:
fruits.append("truskawka")
for fruit in fruits:
    print(fruit)

jabłko
banan
malina
truskawka

In [3]:
print(fruits[1])

banan

In [5]:
numbs = [4,8,15,16,23,42]
total = 0
for numb in numbs:
    total += numb
avg = total/
print(avg)

54.0

In [12]:
import statistics as sts

print(sts.mean(numbs))

18

In [11]:
for k, v in person.items():
    print(k, ": ", v)

name :  Ala
age :  22